<div class="layout horizontal center">
  <div class="layout vertical">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="login" [(ngModel)]='user'>
      <label class="mdl-textfield__label" for="login">e-mail...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="password" id="passwd" [(ngModel)]='passwd'>
      <label class="mdl-textfield__label" for="passwd">Пароль...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised" (click)='doLogin()'>
      Войти
   </button>
  </div>
</div>
