:host {
  display: none;
}
html /deep/ .layout.center-justified, html /deep/ .layout.center-center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
html /deep/ .layout.center, html /deep/ .layout.center-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
html /deep/ .layout.vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
html /deep/ .layout.horizontal, html /deep/ .layout.horizontal-reverse, html /deep/ .layout.vertical, html /deep/ .layout.vertical-reverse {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.layout.center-justified, .layout.center-center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.layout.center, .layout.center-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.layout.vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.layout.horizontal, .layout.horizontal-reverse, .layout.vertical, .layout.vertical-reverse {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.modal-dialog {
    z-index: 10000 !important;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(15, 13, 13, 0.3) !important;
}
