<!--media-query query="(max-width : 640px)" [(matches)]="phoneScreen"></media-query-->
<div class="layout flex" id="more-container" class="more-container"
     [ngClass]="{ 'vertical' : phoneScreen, 'horizontal' : !phoneScreen }"
     [ngStyle]="{ 'z-index' : zIndex }"off>

  <div id="more-info-left" class="more-info more-info-left menu-bordered"
       [ngClass]="{ 'phone-screen' : phoneScreen}"
       [ngStyle]="{
         'transition' : transition,
         'top' : leftTop,
         'width' : leftWidth,
         'height' : leftHeight
       }" off>
    <ng-content select="[left]"></ng-content>
  </div>

  <div id="more-info-right" class="more-info more-info-right menu-bordered"
       [ngClass]="{ 'phone-screen' : phoneScreen}"
       [ngStyle]="{
         'transition' : transition,
         'top' : rightTop,
         'width' : rightWidth,
         'height' : rightHeight
       }" off>
    <ng-content select="[right]"></ng-content>
  </div>

</div>
