 .bordered
{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(35, 62, 83);
}

.more-container
{
  top: 0px;
  left: 0;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.more-container[off]
{}

.more-container[on]
{
  display: block;
}

.more-info
{
  top: 2px;
  height: 99%;
  position: absolute;
  /*z-index: 100;*/
}

.menu-bordered
{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 0px;
}

.more-info-left[off]
{
  left: -110%;
}

.more-info-left[on]
{
  left: -1px;
}

.more-info-right[off]
{
  right: -110%;
}

.more-info-right.phone-screen[on]
{
  right: -1px;
}

.more-info-right[on]
{
  right: -6px;
}
