<div class="map-wrapper">
  <leafletjs-map id="map"
                 class="map-container"
                 [attr.map-type]="mapType"
                 [map-type]="mapType"
                 start-point="[59.95, 30.3]">
  </leafletjs-map>
</div>
