<div class="layout vertical centerflex" style="height:100%;">
  <input type="file" id="files" name="files[]" multiple />
  <div id="drop-zone" class="drop-zone-size">Файл</div>
  <div id="list-files" class="horizontal layout" style="flex-direction: column;">
  </div>
</div>
