<merge-panels duration="0.3" left-width="60%" right-width="40%" horizontal=''>
  <div left> !!!! </div>
  <leafletjs-map right></leafletjs-map>
</merge-panels>
<div>
  <login [login]='login'></login>
</div>
<popup-dialog>
  <div dialog style="width: 200px; height: 200px;">!!!</div>
</popup-dialog>
